<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-success btn-sm" type="button"
        data-bs-toggle="modal" data-bs-target="#CreateProjectModal">
        Create new project</button>
    </div>
</div>
<div class="row">
    <div class="col-3" *ngFor="let project of projectList">
        <div class="card">
            <div class="card-header bg-success">
                {{project.shortName}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {{project.projectName}}
                    </div>
                    <div class="col-6">
                        {{project.createdDate | date:'dd-mm-yyyy'}}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success btn-sm">Edit</button>
                        <button class="btn btn-success btn-sm" type="button"
                            data-bs-toggle="modal" data-bs-target="#EditProjectModal" (click)="ConfirmEditProject(project.projectId)">
                            Edit
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-sm" type="button"
                            data-bs-toggle="modal" data-bs-target="#DeleteProjectModal"
                            (click)="ConfirmDeleteProject(project.projectId)">
                        Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Create Project Modal -->
<div class="modal fade" id="CreateProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CreateProjectModalLabel">New Project</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-3">
                    <label for="shortName">Short Name</label>
                    <input type="text" name="shortName" class="form-control" [(ngModel)]="projectObj.shortName">
                </div>
                <div class="col-3">
                    <label for="projectName">Full Name</label>
                    <input type="text" name="projectName" class="form-control" [(ngModel)]="projectObj.projectName">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
        </div>
      </div>
    </div>
</div>

  
<!--Edit Project Modal-->
<div class="modal fade" id="EditProjectModal" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditProjectModalLabel">Edit Project</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="shortName">Short Name</label>
                    <input type="text" name="shortName" class="form-control" [(ngModel)]="projectObj.shortName">
                </div>
                <div class="col">
                    <label for="projectName">Full Name</label>
                    <input type="text" name="projectName" class="form-control" [(ngModel)]="projectObj.projectName">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
        </div>
      </div>
    </div>
</div>


<!--Delete Project Modal-->
<div class="modal fade" id="DeleteProjectModal" 
    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Project</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>                     
        <div class="modal-body">
          <p>Are you sure you want to delete {{projectToDeleteName}} project?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteProject(projectToDelete.projectId)" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>